@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --main-color: rgb(100, 0, 255);
  --main-bg: rgb(15, 20, 25);
  --main-fcolor: whitesmoke;
  --pure-bg: black;
  --pure-fcolor: white;
  --padding: 0.5rem 2rem;
}

#root {
  min-height: 100vh;
  background: var(--main-fcolor);
  color: var(--main-bg);
}

.dark {
  --main-fcolor: rgb(15, 20, 25);
  --main-bg: whitesmoke;
  --pure-bg: white;
  --pure-fcolor: black;
  transition: all 0.3s ease-out;
}

* {
  color: var(--main-bg);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  display: block;
  width: max-content;
  background: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 50px;
  transition: color 0.5s ease, transform 0.05s ease;
  cursor: pointer;
}

.btn:hover {
  color: black;
}

.btn:active {
  transform: scale(1.1);
}

.btn:disabled {
  cursor: initial;
}

.btn-large {
  font-size: 17px;
  padding: 0.75rem 1rem;
}

.large {
  font-size: 1.2rem;
}

.form-container {
  width: 50vw;
  min-width: 250px;
  height: 20rem;
  margin: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 1rem;
}

.form-control input {
  font-size: 16px;
  line-height: 2rem;
  padding: 0 0.2rem;
  background: var(--pure-fcolor);
  border: none;
}

.nav {
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  font-size: 23px;
  line-height: 35px;
  position: relative;
}

.link {
  display: block;
  color: var(--main-bg);
  text-decoration: none;
  font-weight: bolder;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--main-color);
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.toggle-dark {
  position: fixed;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  top: calc(95vh - 60px);
  left: calc(95vw - 60px);
  background: var(--main-bg);
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
}

.toggle-dark:hover svg {
  fill: var(--main-color);
}

.toggle-dark button {
  cursor: pointer;
  background: none;
  border: none;
  display: grid;
  place-items: center;
}

.toggle-dark button svg {
  fill: var(--main-fcolor);
  width: 35px;
  height: 35px;
  transition: fill 0.3s ease;
}

.wrapper {
  padding: var(--padding);
}

.error {
  color: red;
  background: rgba(255, 0, 0, 0.1);
  line-height: 30px;
  padding: 0 0.2rem;
}

a.no-bg {
  background: none;
  padding: 0 !important;
  color: var(--main-bg);
  margin-top: 1rem;
}

input.border-red {
  border: 1px solid red;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.settings input {
  font-size: 16px;
  line-height: 2rem;
  padding: 0 0.2rem;
  background: var(--pure-fcolor);
  border: none;
}

.border-left {
  border-left: 1px solid var(--main-color);
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.drag-and-drop {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.drag-and-drop:hover {
  cursor: pointer;
}

.profile-picture {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.pic-large {
  width: 100px;
  height: 100px;
}

.profile-picture.pic-large img {
  width: 100px;
  height: auto;
}

.profile-picture img {
  position: absolute;
  width: 50px;
  height: auto;
}

.profile-container .profile-settings {
  list-style: none;
  background: var(--main-fcolor);
  box-shadow: 0 0 14px -7px black;
  border-radius: 20px;
  padding: 1rem 2rem;
  padding-right: 1rem;
}

.container-wrapper {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}

.profile-container:hover .container-wrapper {
  padding: 20px;
  opacity: 1;
  right: 0px;
  width: auto;
  height: fit-content;
}

.profile-settings li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-settings li:hover .line {
  max-width: 100%;
}

.profile-banner {
  position: relative;
  width: 600px;
  height: 100px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.profile-banner img {
  position: absolute;
}

.line {
  border: 1px solid var(--main-color);
  margin-bottom: 1rem;
  width: 100%;
  max-width: 20%;
  transition: all 0.3s ease;
}

@media (max-width: 350px) {
  :root {
    --padding: 0.25rem 0.5rem;
  }
}
