@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --main-color: rgb(100, 0, 255);
  --main-black: rgb(15, 20, 25);
  --main-white: whitesmoke;
  --pure-black: black;
  --pure-white: white;
  --padding: 0.5rem 2rem;
}

#root {
  min-height: 100vh;
  background: var(--main-white);
  color: var(--main-black);
}

.dark {
  --main-white: rgb(15, 20, 25);
  --main-black: whitesmoke;
  --pure-black: white;
  --pure-white: black;
  transition: all 0.3s ease-out;
}

* {
  color: var(--main-black);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  display: block;
  width: max-content;
  background: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 50px;
  transition: color 0.5s ease, transform 0.05s ease;
  cursor: pointer;
}

.btn:active {
  transform: scale(1.1);
}

.btn-large {
  font-size: 17px;
  padding: 0.75rem 1rem;
}

.form-container {
  width: 50vw;
  min-width: 250px;
  height: 20rem;
  margin: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 1rem;
}

.form-control input {
  font-size: 16px;
  line-height: 2rem;
  padding: 0 0.2rem;
  background: var(--pure-white);
  border: none;
}

.nav {
  padding: var(--padding);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50px;
  font-size: 23px;
  line-height: 35px;
  position: relative;
}

.nav .link {
  display: block;
  color: var(--main-black);
  text-decoration: none;
  font-weight: bolder;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav .link:hover {
  color: var(--main-color);
}

.nav .links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.toggle-dark {
  position: fixed;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  top: calc(95vh - 60px);
  left: calc(95vw - 60px);
  background: var(--main-black);
  border-radius: 50%;
  cursor: pointer;
}

.toggle-dark button {
  cursor: pointer;
  background: none;
  border: none;
  display: grid;
  place-items: center;
}

.toggle-dark button svg {
  fill: var(--main-white);
  width: 35px;
  height: 35px;
}

.wrapper {
  padding: var(--padding);
}

.error {
  color: red;
  background: rgba(255, 0, 0, 0.1);
  line-height: 30px;
  padding: 0 0.2rem;
}

a.no-bg {
  background: none;
  padding: 0 !important;
  margin-top: 1rem;
}

input.border-red {
  border: 1px solid red;
}

@media (max-width: 350px) {
  :root {
    --padding: 0.25rem 0.5rem;
  }
}
